<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload and Process Image</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Детекция на Yolov5</h1>
        <form method="post" enctype="multipart/form-data" class="mt-4">
            <div class="form-group">
                <label for="file">Выберите картинку и загрузите</label>
                <input type="file" name="file" class="form-control-file" id="file">
            </div>
            <button type="submit" class="btn btn-primary">Загрузить</button>
        </form>

        {% if uploaded_file and processed_image_url %}
            <div class="row mt-5">
                <div class="col-md-6">
                    <h2>Оригинал:</h2>
                    <img src="{{ url_for('uploaded_file', filename=uploaded_file) }}" alt="Оригинал" class="img-fluid">
                </div>
                <div class="col-md-6">
                    <h2>Результат:</h2>
                    <img src="{{ processed_image_url }}" alt="Результат" class="img-fluid">
                    <p class="mt-3">Число бактерий: {{ bacteria_count + fungi_count }}</p>
                </div>
            </div>
        {% elif uploaded_file %}
            <div class="mt-5">
                <h2>Original Image:</h2>
                <img src="{{ url_for('uploaded_file', filename=uploaded_file) }}" alt="Original Image" class="img-fluid">
            </div>
        {% elif error %}
            <div class="mt-5">
                <h2 class="text-danger">{{ error }}</h2>
            </div>
        {% endif %}
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
